
/*
  Keyframes
*/
@keyframes logoscale {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.15) rotate(20deg);
  }
  100% {
    transform: scale(0.9) rotate(0deg);
  }
}

@keyframes logotext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*
  SVG Styles
*/
.logo {
  display: block;
  width: 14.5%;
  margin: 0 auto;
}

.logo .st1 {
  animation: logotext .7s 1.7s linear backwards;
}

.logo .st2 {
  transform-origin: 50% 50%;
  transition: .4s;
  animation: logoscale .6s 0s linear backwards;
}

.logo .st2:hover {
  fill: #ddd;
}

  .logo .st2:nth-of-type(1) {
    animation-delay: .4s;
  }

  .logo .st2:nth-of-type(3) {
    animation-delay: .8s;
  }

  .logo .st2:nth-of-type(2) {
    animation-delay: 1.2s;
  }
